amqp==5.3.1
asgiref==3.7.2
beautifulsoup4==4.14.2
billiard==4.2.2
celery==5.3.4
certifi==2024.2.2
cffi==2.0.0
charset-normalizer==3.3.2
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==42.0.4
dj-database-url==3.0.1
Django==5.0.2
django-cors-headers==4.3.1
django-filter==24.1
django_celery_results==2.6.0
djangorestframework==3.14.0
gunicorn==23.0.0
idna==3.6
kombu==5.4.2
lyricsgenius==3.0.1
packaging==25.0
Pillow==10.1.0
prompt_toolkit==3.0.52
pycparser==2.23
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
redis==5.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.8
spotipy==2.23.0
sqlparse==0.4.4
typing_extensions==4.15.0
tzdata==2023.4
urllib3==2.2.0
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.11.0
