<!DOCTYPE html>
<html>
<head>
    <title>List of Albums</title>
</head>
<body>
    <h1>List of Albums</h1>
    <ul>
        {% for album in albums %}
            <li>{{ album.title }}</li>
        {% empty %}
            <li>No albums available.</li>
        {% endfor %}
    </ul>

     <!-- Navigation links -->
     <ul>
        <li><a href="{% url 'artist_list' %}">View Artists</a></li>
        <li><a href="{% url 'song_list' %}">View Songs</a></li>
        <li><a href="{% url 'playlist_list' %}">View Playlists</a></li>
    </ul>
</body>
</html>
